:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}

.blur {
  display: none;
}

.wrapper h2 {
  font-weight: 500;
  text-align: center;
}

.wrapper {
  display: flex;
  gap: 5px;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

img {
  display: block;
  width: 100%;
}

.text-weight {
  font-weight: 700;
  font-size: 13px;
  margin: 0 auto;
}

.gallery {
  display: flex;
  gap: 7px;
  flex-wrap: wrap;
}

.img-item {
  border: 1px solid black;
  width: calc((100% - 60px) / 5);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.form {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-bottom: 10px;
}

button {
  border: 1px solid black;
  border-radius: 5px;
}

.loader {
  margin: 0 auto;
  margin-top: 10px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.loader::before,
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #fff;
  animation: prixClipFix 2s linear infinite;
}
.loader::after {
  border-color: #ff3d00;
  animation:
    prixClipFix 2s linear infinite,
    rotate 0.5s linear infinite reverse;
  inset: 6px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
